{%extends "layout.html"%}
{%block content%}
<form action="{{url_for('posts.add')}}" method="post">
    
    {{form.hidden_tag()}}
    {{ form.id }}

    <div class="row">
        <div>{{ form.content.label }}: {{ form.content }}</div>
        {% if form.content.errors %}
            <ul class="errors">
                {% for error in form.content.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div><input type="submit" value="Post"</div>
    </form>
{%endblock%}